<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />
<%!
    from six import text_type
    from django.urls import reverse
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
    from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
%>
<%block name="pagetitle">${center.name}</%block>
<link rel="stylesheet" href="${static.url('custom_css/partners.css')}" />
<link rel="stylesheet" href="${static.url('custom_css/development.css')}" />

<main id="main-content" name="main-content" class="" tabindex="-1" aria-label="Content">
    <div class="school-details" id="partner-details">
        <div class="school-banner clearfix pt-4 container mw-lg">
            <img src="${partner.banner.url}" alt="" class="school-banner-img">
        </div>
        <div class="container mw-lg">
            <h2 class="partner-name">${center.name}</h2>
            <div class="partner-content">
                ${clean_dangerous_html(center.content)}
            </div>
        </div>
        % if categories:
            <div class="container mw-lg">
                <h3 style="font-family: inherit;">${_("Courses")}</h3>
                % for category in categories:
                    <%
                        courses = CourseOverview.objects.filter(enhancedcourse__category=category, enhancedcourse__center=center)
                    %>
                    <div class="category-inner">
                        <h2 class="category-title">${category.name}</h2>
                        <div class="static-card-list d-flex m-xl-0 p-0 flex-wrap">
                            % for course in courses:
                                <div class="discovery-card Verified and Audit col col-xl-3 mb-4 static-card-spacing" aria-label="${course.display_name_with_default}">
                                    <a class="discovery-card-link" href="${reverse('about_course', args=[text_type(course.id)])}">
                                        <div class="d-flex flex-column d-card-wrapper">
                                            <div class="d-card-hero">
                                                <img src="${course.course_image_url}" alt="${course.display_name_with_default}">
                                            </div>
                                            <div class="partner-logo-wrapper">
                                                <img src="${course.enhancedcourse.center.logo.url}" class="partner-logo" alt="${course.enhancedcourse.center.name}">
                                            </div>
                                            <div class="d-card-body">
                                                <h3 class="name-heading">
                                                    <span width="230"><span>
                                                    ${course.display_name_with_default}
                                                </h3>
                                                <p class="partner-name">${getattr(course.enhancedcourse.center or course.enhancedcourse.partner, 'name', None)}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            % endfor
                        </div>
                    </div>
                % endfor
            </div>
        % endif
    </div>
</main>
