<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<style>
</style>

<div class="hero-section">
    <div class="hero-content">
        <h1>${Text(_(u"Find a Perfect Online Course"))}</h1>

        <!-- <div class="search-box" "course-search">
            <input type="text" placeholder="🔍 Course Name" />
            <button>${Text(_(u"Search"))}</button>
        </div> -->
        % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="search-box cstm-searcls">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="🔍 Course Name"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif

    </div>

    <!-- <div class="hero-image">
        <img src='${static.url("images/heroImage.png")}' alt="Student Searching for Online Courses" />
    </div> -->
</div>
